.tag-add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    margin: 4px 0px;
    width: 81%;
    padding: 6px;
    font-weight: 500;
    transition: 0.2s ease opacity;
}
.tag-add:hover {
    opacity: 0.7;
}
.tag-add:active {
    opacity: 0.5;
}
.tag-add__btn {
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.75px;
    margin-top: 10px;
    color: #fafafa;
    background: linear-gradient(to right, #4776e6 0%, #8e54e9 51%, #4776e6 100%);
    margin-left: 3px;
    transition: 200ms;
}
.tag-add__btn:hover {
    opacity: 0.8;
}
.tag-check {
    width: 20px;
    height: 20px;
}

.modal-edit-tag-close-container {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-edit-tag-content-container {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgb(96, 96, 96);
    background-color: white;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    z-index: 50;
    right: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-edit-tag-content-container input[type="text"] {
    margin: 7px 0px;
    padding: 0px 0px 0px 5px;
    border: 1px solid #0075ff;
    width: 98%;
    border-radius: 10px;
    height: 23px;
}
.modal-edit-tag-content-container input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px #0075ff;
}
.tag-color {
    width: 48px;
    height: 32px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 4px;
    transition: 100ms;
}
.tag-color:hover {
    /* opacity: 0.7; */
    transform: scale(1.2);
}
.tag-color-selector {
    margin-top: 7px;
    width: calc(52px * 5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}
.edit-tag-buttons-container {
    display: flex;
    flex-direction: row;
}
.edit-tag-button {
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.75px;
    margin-top: 10px;
    color: #fafafa;
    background-color: #6654ff;
    margin-bottom: 15px;
    transition: 200ms;
}
.edit-tag-button:hover {
    opacity: 0.8;
}
.edit-tag-button:first-child {
    margin-right: 7px;
}
@media (max-width: 654.98px) {
    .modal-edit-tag-content-container {
        right: 150px;
    }
}
@media (max-width: 479.98px) {
    .modal-edit-tag-content-container {
        right: 100px;
    }
}

@media (max-width: 375.98px) {
    .modal-edit-tag-content-container {
        right: 16px;
    }
}
