.notificate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.notification-list-close{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.notification-list-container {
    padding: 10px;
    width: fit-content;
    background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2c2c2c;
    position: absolute;
    top: 55px;
    right: 15px;
    box-shadow: 8px 8px 20px 5px #7270f0;
    border-radius: 5px;
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}
.notificate-container {
    width: 100%;
    border-bottom: solid #172b4d 1px;
}
.notificate-delay {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #fafafa;
    margin-right: 8px;
}
.notificate-info {
    display: flex;
    min-width: 470px;
    margin-right: 15px;
    align-items: center;
}
.notificate__delay {
    color: #fafafa;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 7px;
}
.notificate-date {
    color: #fafafa75;
    font-size: 12px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: none;
}

.notify-creator-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.notificate-user-delay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificate-user-delay input[type="image"] {
    width: 18px;
    height: 18px;
    margin: 5px;
    border-radius: 4px;
    transition: 0.2s ease opacity;
}
.notificate-user-delay input[type="image"]:hover {
    opacity: 0.6;
}
.notificate-user-delay input[type="image"]:active {
    opacity: 0.4;
}
@media (max-width: 654.98px) {
    .notification-list-container {
        width: 500px;
    }
    .notificate-info {
        min-width: 405px;
    }
}
@media (max-width: 479.98px) {
    .notification-list-container {
        width: 315px;
        padding: 5px;
        right: 3px;
    }
    .notificate-info {
        min-width: 190px;
        margin-right: 5px;
    }
    .notificate {
        margin: 4px 0px;
    }
    .notificate-delay {
        margin-right: 4px;
    }
    .notificate-date {
        font-size: 8px;
        letter-spacing: 1px;
        line-height: 170%;
    }
    .notificate__delay {
        font-size: 12px;
        font-weight: 400;
    }
}
