body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url(./resources/OBJECTS.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  object-fit: cover;
}
input[type="button"]{
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

@font-face {
  font-family: 'Stem';
  src: url("./fonts/Stem-Regular.eot");
  src: local("☺"), url("./fonts/Stem-Regular.woff") format("woff"), url("./fonts/Stem-Regular.ttf") format("truetype"), url("./fonts/Stem-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url("./fonts/Stem-Medium.eot");
  src: local("☺"), url("./fonts/Stem-Medium.woff") format("woff"), url("./fonts/Stem-Medium.ttf") format("truetype"), url("./fonts/Stem-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

::-webkit-scrollbar-track {
  background: none;
}


::-webkit-scrollbar-thumb {
  background: rgb(102 110 229 / 70%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection{
  color: #58d4ab;
  background-color: initial;
  }